<html lang="en">
	<head>
		<% include ../partials/head %>

		<script>
			$(document).ready(function() {
			    $('select').material_select();
			});
		</script>

	</head>

	<body>
		<header>
			<% include ../partials/header-nav-bar %>
		</header>

		<div class="row">
			<div class="hide-on-small-only col m2 l2 white-text">.</div>
			<div class="col s12 m8 l8">
				<div class="card">
					<form class="col s12" action="/create" method="post">
						<div class="row">
							<h3>Meeting</h3>
							<div class="input-field col s6">
								<input id="users" type="text" class="validate" name="users" value="<%= meeting.users %>" disabled>
								<label class="active" for="users">Who</label>
							</div>
							<div class="input-field col s6">
								<input id="where" type="text" class="validate" name="where" value="<%= meeting.place.name %>" disabled>
								<label class="active" for="where">Where</label>
							</div>

							<div class="input-field col s6">
								<input id="date" type="text" class="validate" name="date">
								<label class="active" for="date">Date mm/dd/yyyy</label>
							</div>

							<div class="input-field col s6">
                                <select name="time">
                                    <option value="" disabled selected>Time</option>
                                    <% for(var i = 24; i>0; i--) { %>
                                        <% if(i > 12) { %>
                                            <option value="<%=i%>"><%= (i-12) + ':00 pm' %></option>
                                        <% } else { %>
											<option value="<%=i%>"><%= i + ':00 am' %></option>
                                        <% } %>
                                    <% } %>
                                </select>
                            </div>
						</div>
						<button type="submit" class="btn btn-warning btn-lg">Confirm</button>
						<a href="/home" class="btn btn-warning btn-lg"> Cancel </a>
					</form>
					</div>
				</div>
			</div>
			<div class="hide-on-small-only col m2 l2 white-text">.</div>
		</div>
	</body>
</html>
