<!doctype html>
<html lang="en">
	<head>
		<% include ../partials/head %>
		<% include ../partials/slideshow-head %>
	</head>

	<body>
		<header>
			<% include ../partials/header-nav-bar %>
		</header>

		<main>
			<div class="grid-container">
				<div class="grid-column">
					<div class="row">
						<!-- User-Suggested Meetings Card -->
						<div class="col s12 m12">
							<div class="card blue-grey darken-1">
								<div class="card-content white-text">
									<span class="card-title">User-Suggested Meetings</span>

									<% if (_meetings.length > 0) { %>
										<div class="slideshow-container">
											<% for (var i = 0; i<_meetings.length; i++) { %>
												<div class="mySlides fade">
													<div class="numbertext">1 /
														<%=_meetings.length%></div>
													<img src="<%= _meetings[0].place.imgUrl %>" style="width:100%">
													<div class="text"><%=_meetings[i].place.name%></div>
												</div>
											<% } %>

											<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
											<a class="next" onclick="plusSlides(1)">&#10095;</a>
										</div>
										<br>

										<div style="text-align:center">
											<% for (var d = 0; d<_meetings.length; d++) { %>
												<span class="dot" onclick="currentSlide(<%=d+1%>)"></span>
											<% } %>
										</div>

									<% } else { %>
										<p>None! Click the "Meetings" tab to set up a new meeting.</p>
									<% } %>
								</div>
								<div class="card-action">
									<div class="inline">
										<form action="/home" method="post" id="editform_1">
											<input name="edit" value="true" hidden>
											<!-- value we are submitting with the form -->
											<a href="#" onClick="<%- "document.getElementById('editform_1').submit();" %>" type="submit">Edit</a>
										</form>
										<form action="/home" method="post" id="acceptform_1">
											<input name="accept" value="true" hidden>
											<!-- value we are submitting with the form -->
											<a href="#" onClick="<%- "document.getElementById('acceptform_1').submit();" %>" type="submit">Accept</a>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col s12 m12">
							<div class="card blue-grey darken-1">
								<div class="card-content white-text">
									<span class="card-title">Card Title</span>
									<p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
								</div>
								<div class="card-action">
									<a href="#">This is a link</a>
									<a href="#">This is a link</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="grid-column">
					<div class="row">
						<div class="col s12 m12">
							<div class="card blue-grey darken-1">
								<div class="card-content white-text">
									<span class="card-title">Upcoming Meetings</span>
									<% if (a_meetings.length > 0) { %>
										<p><%= a_meetings %></p>
									<% } else { %>
										<p>oops! got nothin'...</p>
									<% } %>
								</div>
								<div class="card-action">
									<a href="#">This is a link</a>
									<a href="#">This is a link</a>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col s12 m12">
							<div class="card blue-grey darken-1">
								<div class="card-content white-text">
									<span class="card-title">Card Title</span>
									<p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
								</div>
								<div class="card-action">
									<a href="#">This is a link</a>
									<a href="#">This is a link</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
	</body>
	<script src="/js/slideshow.js"></script>
	<!-- call this after the body, because it waits until all the html/DOM is loaded! And there are html element specific functions in this file -->
</html>
